In [2]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=6e2218b09e226d9c81656323a1a7c86890b4d05b4951d275d84a1d0e9d56f1b6
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg

In [4]:
# Initialize a Spark session
spark = SparkSession.builder.appName("Real Estate Analysis").getOrCreate()

In [5]:
# Load the dataset
data = spark.read.option("header", "true").csv("/content/Real estate.csv", inferSchema=True)

In [6]:
# Show the schema
data.printSchema()

root
 |-- No: integer (nullable = true)
 |-- X1 transaction date: double (nullable = true)
 |-- X2 house age: double (nullable = true)
 |-- X3 distance to the nearest MRT station: double (nullable = true)
 |-- X4 number of convenience stores: integer (nullable = true)
 |-- X5 latitude: double (nullable = true)
 |-- X6 longitude: double (nullable = true)
 |-- Y house price of unit area: double (nullable = true)

In [7]:
data.show()

+---+-------------------+------------+--------------------------------------+-------------------------------+-----------+------------+--------------------------+
| No|X1 transaction date|X2 house age|X3 distance to the nearest MRT station|X4 number of convenience stores|X5 latitude|X6 longitude|Y house price of unit area|
+---+-------------------+------------+--------------------------------------+-------------------------------+-----------+------------+--------------------------+
|  1|           2012.917|        32.0|                              84.87882|                             10|   24.98298|   121.54024|                      37.9|
|  2|           2012.917|        19.5|                              306.5947|                              9|   24.98034|   121.53951|                      42.2|
|  3|           2013.583|        13.3|                              561.9845|                              5|   24.98746|   121.54391|                      47.3|
|  4|             2013.5|        13.3|                              561.9845|                              5|   24.98746|   121.54391|                      54.8|
|  5|           2012.833|         5.0|                              390.5684|                              5|   24.97937|   121.54245|                      43.1|
|  6|           2012.667|         7.1|                               2175.03|                              3|   24.96305|   121.51254|                      32.1|
|  7|           2012.667|        34.5|                              623.4731|                              7|   24.97933|   121.53642|                      40.3|
|  8|           2013.417|        20.3|                              287.6025|                              6|   24.98042|   121.54228|                      46.7|
|  9|             2013.5|        31.7|                              5512.038|                              1|   24.95095|   121.48458|                      18.8|
| 10|           2013.417|        17.9|                               1783.18|                              3|   24.96731|   121.51486|                      22.1|
| 11|           2013.083|        34.8|                              405.2134|                              1|   24.97349|   121.53372|                      41.4|
| 12|           2013.333|         6.3|                              90.45606|                              9|   24.97433|    121.5431|                      58.1|
| 13|           2012.917|        13.0|                              492.2313|                              5|   24.96515|   121.53737|                      39.3|
| 14|           2012.667|        20.4|                              2469.645|                              4|   24.96108|   121.51046|                      23.8|
| 15|             2013.5|        13.2|                              1164.838|                              4|   24.99156|   121.53406|                      34.3|
| 16|           2013.583|        35.7|                              579.2083|                              2|    24.9824|   121.54619|                      50.5|
| 17|            2013.25|         0.0|                              292.9978|                              6|   24.97744|   121.54458|                      70.1|
| 18|            2012.75|        17.7|                              350.8515|                              1|   24.97544|   121.53119|                      37.4|
| 19|           2013.417|        16.9|                              368.1363|                              8|    24.9675|   121.54451|                      42.3|
| 20|           2012.667|         1.5|                              23.38284|                              7|   24.96772|   121.54102|                      47.7|
+---+-------------------+------------+--------------------------------------+-------------------------------+-----------+------------+--------------------------+
only showing top 20 rows

In [8]:
# Filter records where house age is greater than 20
filtered_data = data.filter(col("X2 house age") > 20)

In [9]:
filtered_data.show()

+---+-------------------+------------+--------------------------------------+-------------------------------+-----------+------------+--------------------------+
| No|X1 transaction date|X2 house age|X3 distance to the nearest MRT station|X4 number of convenience stores|X5 latitude|X6 longitude|Y house price of unit area|
+---+-------------------+------------+--------------------------------------+-------------------------------+-----------+------------+--------------------------+
|  1|           2012.917|        32.0|                              84.87882|                             10|   24.98298|   121.54024|                      37.9|
|  7|           2012.667|        34.5|                              623.4731|                              7|   24.97933|   121.53642|                      40.3|
|  8|           2013.417|        20.3|                              287.6025|                              6|   24.98042|   121.54228|                      46.7|
|  9|             2013.5|        31.7|                              5512.038|                              1|   24.95095|   121.48458|                      18.8|
| 11|           2013.083|        34.8|                              405.2134|                              1|   24.97349|   121.53372|                      41.4|
| 14|           2012.667|        20.4|                              2469.645|                              4|   24.96108|   121.51046|                      23.8|
| 16|           2013.583|        35.7|                              579.2083|                              2|    24.9824|   121.54619|                      50.5|
| 25|             2013.0|        39.6|                              480.6977|                              4|   24.97353|   121.53885|                      38.8|
| 26|           2013.083|        29.3|                              1487.868|                              2|   24.97542|   121.51726|                      27.0|
| 31|             2013.5|        25.9|                               4519.69|                              0|   24.94826|   121.49587|                      22.1|
| 32|            2012.75|        29.6|                              769.4034|                              7|   24.98281|   121.53408|                      25.0|
| 33|            2012.75|        37.9|                              488.5727|                              1|   24.97349|   121.53451|                      34.2|
| 43|           2013.417|        36.1|                              519.4617|                              5|   24.96305|   121.53758|                      34.7|
| 44|            2012.75|        34.4|                              512.7871|                              6|   24.98748|   121.54301|                      34.1|
| 46|           2013.083|        36.6|                              488.8193|                              8|   24.97015|   121.54494|                      38.3|
| 47|           2013.417|        21.7|                              463.9623|                              9|    24.9703|   121.54458|                      42.0|
| 48|           2013.583|        35.9|                              640.7391|                              3|   24.97563|   121.53715|                      61.5|
| 49|           2013.417|        24.2|                              4605.749|                              0|   24.94684|   121.49578|                      13.4|
| 50|           2012.667|        29.4|                              4510.359|                              1|   24.94925|   121.49542|                      13.2|
| 51|           2013.417|        21.7|                              512.5487|                              4|     24.974|   121.53842|                      44.2|
+---+-------------------+------------+--------------------------------------+-------------------------------+-----------+------------+--------------------------+
only showing top 20 rows

In [10]:
# Group by number of convenience stores and calculate the average house price
grouped_data = filtered_data.groupBy("X4 number of convenience stores").agg(avg("Y house price of unit area").alias("avg_house_price"))

In [11]:
# Show the result
grouped_data.show()

+-------------------------------+------------------+
|X4 number of convenience stores|   avg_house_price|
+-------------------------------+------------------+
|                              1|24.516666666666666|
|                              6| 40.25714285714286|
|                              3|           33.1125|
|                              5|              34.2|
|                              9| 48.41250000000001|
|                              4| 37.50909090909091|
|                              8|44.605000000000004|
|                              7| 38.51666666666667|
|                             10| 45.26666666666667|
|                              2| 34.82222222222222|
|                              0|23.060000000000002|
+-------------------------------+------------------+

In [12]:
# Stop the Spark session
spark.stop()